<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LJ</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>User_ser</display-name>
    <servlet-name>Userser</servlet-name>
    <servlet-class>com.heima.servlet.User_ser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Userser</servlet-name>
    <url-pattern>/User_ser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Insert_ser</display-name>
    <servlet-name>Insert_ser</servlet-name>
    <servlet-class>com.heima.servlet.Insert_ser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insert_ser</servlet-name>
    <url-pattern>/Insert_ser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DonwLoad_ser</display-name>
    <servlet-name>DonwLoad_ser</servlet-name>
    <servlet-class>com.heima.servlet.DonwLoad_ser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DonwLoad_ser</servlet-name>
    <url-pattern>/DonwLoad_ser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update_ser</display-name>
    <servlet-name>Update_ser</servlet-name>
    <servlet-class>com.heima.servlet.Update_ser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_ser</servlet-name>
    <url-pattern>/Update_ser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_ser</display-name>
    <servlet-name>Delete_ser</servlet-name>
    <servlet-class>com.heima.servlet.Delete_ser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_ser</servlet-name>
    <url-pattern>/Delete_ser</url-pattern>
  </servlet-mapping>
</web-app>