<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Student_Manage</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StuServlet</display-name>
    <servlet-name>StuServlet</servlet-name>
    <servlet-class>com.heima.servlet.StuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuServlet</servlet-name>
    <url-pattern>/StuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.heima.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.heima.servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertServlet</display-name>
    <servlet-name>InsertServlet</servlet-name>
    <servlet-class>com.heima.servlet.InsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertServlet</servlet-name>
    <url-pattern>/InsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet</display-name>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>com.heima.servlet.EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdataServlet</display-name>
    <servlet-name>UpdataServlet</servlet-name>
    <servlet-class>com.heima.servlet.UpdataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdataServlet</servlet-name>
    <url-pattern>/UpdataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoHuSelectSrevlet</display-name>
    <servlet-name>MoHuSelectSrevlet</servlet-name>
    <servlet-class>com.heima.servlet.MoHuSelectSrevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoHuSelectSrevlet</servlet-name>
    <url-pattern>/MoHuSelectSrevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PageSelectServlet</display-name>
    <servlet-name>PageSelectServlet</servlet-name>
    <servlet-class>com.heima.servlet.PageSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageSelectServlet</servlet-name>
    <url-pattern>/PageSelectServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Coding</display-name>
    <filter-name>Coding</filter-name>
    <filter-class>com.heima.filter.Coding</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Coding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>LonginFilter</display-name>
    <filter-name>LonginFilter</filter-name>
    <filter-class>com.heima.filter.LonginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LonginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

</web-app>