<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Longin</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LonginServlet</display-name>
    <servlet-name>LonginServlet</servlet-name>
    <servlet-class>com.heima.servlet.LonginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LonginServlet</servlet-name>
    <url-pattern>/LonginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.heima.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChackUser</display-name>
    <servlet-name>ChackUser</servlet-name>
    <servlet-class>com.heima.servlet.ChackUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChackUser</servlet-name>
    <url-pattern>/ChackUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChackUserServlet</display-name>
    <servlet-name>ChackUserServlet</servlet-name>
    <servlet-class>com.heima.servlet.ChackUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChackUserServlet</servlet-name>
    <url-pattern>/ChackUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Xxxx</display-name>
    <servlet-name>Xxxx</servlet-name>
    <servlet-class>com.heima.servlet.Xxxx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Xxxx</servlet-name>
    <url-pattern>/Xxxx</url-pattern>
  </servlet-mapping>
</web-app>