<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Today</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FindWordsServlet</display-name>
    <servlet-name>FindWordsServlet</servlet-name>
    <servlet-class>com.heima.servlet.FindWordsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindWordsServlet</servlet-name>
    <url-pattern>/FindWordsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.heima.agency.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>First_Filter</display-name>
    <filter-name>First_Filter</filter-name>
    <filter-class>com.heima.agency.First_Filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>First_Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>